@use '../../styles/partials/variables' as *;

.video-list {
    margin: 0 1rem 1rem 1rem;

    &__title {
        color: $primary-text-label;
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        margin-top: 0;
    }
}
.video-card {
    display: flex;
    height: 4.5rem;
    margin: 1rem 0;

    &--hide {
        display: none;
    }
    
    &__text {
        width: 65%;
    }

    &__img {
        width: 35%;
        border-radius: 4px;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-right: 1rem;
    }

    &__title {
        margin: 0;
    }

    &__channel {
        margin: 0.5rem 0 0 0;
    }
}