@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.hero {
    display: flex;
    justify-content: center;
    background-color:$secondary-dark;

    &__video-container {
        width: 100vw;
        background-color: $secondary-dark;

        @include tablet {
            width: 80%;
        }
        @include desktop {
            width: 70%;
        }
    }

    &__video{
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        // background-color: grey;
    }

}