@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

    .hero__video{
        width: 100%;
        background-color: grey;    
        
        @include tablet {
            border-left: 3rem solid $secondary-dark;
            border-right: 3rem solid $secondary-dark;
        }
        @include desktop {
            border-left: 12rem solid $secondary-dark;
            border-right: 12rem solid $secondary-dark;
        }
    }
