.video-card {
    display: flex;
    height: 4.5rem;
    margin: 1rem 0;
    
    &__text {
        width: 65%;
    }

    &__img {
        width: 35%;
        border-radius: 4px;
        height: 100%;
        background-size: cover;
        background-position: center;
        margin-right: 1rem;
    }

    &__title {
        margin: 0;
    }

    &__channel {
        margin: 0.5rem 0 0 0;
    }
}