@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;

.header {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__logo {
        height: 25px;
        width: 120px;
    }

    &__search {
        min-height: 40px;
        margin: 1rem 1rem 1rem 0;
        background-image: url('../../assets/images/search.svg');
        background-size: 6%;
        background-position-x: 0.5rem;
        background-position-y: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 0 2rem;
        border: 1px $secondary-divider solid;
        border-radius: 4px;
        background-color: $secondary-background;
        &::placeholder {
            font-family: 'AvenirNext';
            font-weight: 600px;
            color: $primary-text-dark;
        }
        &:focus {
            background-image: none;
        }
    }

    &__mobile-container {
        display: flex;
        width: 100%;

    }
    &__avatar {
        background-image: url(../../assets/images/Mohan-muruge.jpg);
        background-size: cover;
        background-position: center;
        min-width: 36px;
        height: 36px;
        border-radius: 50%;
        // display: inline-block;
        margin: 1rem 0;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: $primary-background;
        height: 40px;
        background-image: url('../../assets/images/upload.svg');
        background-size: 6%;
        background-position-x: 0.5rem;
        background-position-y: center;
        background-repeat: no-repeat;
        background-color: $primary-cta;
        padding: 1rem 2rem;
        border: 1px $secondary-divider solid;
        border-radius: 4px;
    }


}