@use '../../styles/partials/variables' as *;

.comment-content {

    &__container {
        display: flex;
        border-bottom: 1px solid $secondary-divider;
        margin-bottom: 1rem;
    }

    &__avatar {
        background-color: $secondary-divider;
        background-size: cover;
        background-position: center;
        min-width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 0 1rem 1rem 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
}
    